<style>
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body {
    width:100%;
    height:100%;
    overflow:hidden;
}
.slider {
    overflow:hidden;
    scrollbar-width:none;
    transition:0.3s ease-in;
    height:100vh;
    display:inline-flex;
    will-change:transform;
    transform:translateX(0);
    cursor:grab;
}
.slide {
    width:100vw;
    padding:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    max-height:100vh;
}
.slide img {
    max-width:100%;
    max-height:100%;
    user-select:none;
    border-radius:3px;
    box-shadow:5px 5px 50px -1px var(--shadow);
    transition:0.3s;
}
@media screen and (max-width:1200px) {
    .slide {
        padding:3rem;
    }
}
.grabbing {
    cursor:grabbing;
}
.grabbing .slide img {
    box-shadow:5px 5px 40px -1px var(--shadow);
    transform: scale(0.9);
}
</style>
